<html>
<head>
  <title>AutoComplete Test</title>
  <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery-1.7.2.min.js"></script>
  {{ form.media }}
</head>
<body>

<h2>AutoComplete Test!</h2>

<div id="selectedUsers_id_names" />

<div id="selectedUsers_id_stuff" />

{{ form.as_p }}

<script type="text/javascript">
  function addSelectedUser(form_id, user){
    console.log(user);
    var template = '<div class="user">' +
            '<img src="${img}" width="48" height="48" /> ${name}' +
            '</div>';
    var elem = $.tmpl(template, user);
    elem.appendTo($("#selectedUsers_"+form_id));
  }
  setAutoCompleteCallback("{{ form.names.auto_id }}", addSelectedUser);
  setAutoCompleteCallback("{{ form.stuff.auto_id }}", addSelectedUser);
</script>

</body>
</html>
