#selectedUsers {
  overflow:auto;
  height:300px;
  width:230px;
}

.user {
  position:relative;
  width:200px;
  height:48px;
}

.close {
  position:absolute;
  top:0;
  right:0;
  cursor: default;
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none; 
}
